In [2]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
# pip install pyarrow

In [4]:
df_train = pd.read_feather('all_preprocessed_train.fth')
df_test = pd.read_feather('all_preprocessed_test.fth')

In [5]:
df_train.shape, df_test.shape

((1017209, 107), (41088, 104))

In [6]:
# Verificación de que se hicieron bien las cosas en testa también
set(df_train.columns) - set(df_test.columns)

{'Customers', 'Sales', 'trend_y', 'week_y'}

In [7]:
(df_train['CompetitionDistance'].isna()).sum()

0

## Categorical vars

In [8]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 
            'CompetitionMonthsOpen', 'Promo2Weeks', 
            'StoreType', 'Assortment', 'PromoInterval', 
            'CompetitionOpenSinceYear', 'Promo2SinceYear', 
            'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 
            'StateHoliday_bool_fw', 'StateHoliday_bool_bw', 'SchoolHoliday_fw', 
            'SchoolHoliday_bw']

In [9]:
#DataFrameSummary(df_train[cat_vars]).summary()

In [10]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types', 'missing']].T

                         uniques        types missing
Store                       1115      numeric       0
DayOfWeek                      7      numeric       0
Year                           3      numeric       0
Month                         12      numeric       0
Day                           31      numeric       0
StateHoliday                   4  categorical       0
CompetitionMonthsOpen         25      numeric       0
Promo2Weeks                   26      numeric       0
StoreType                      4  categorical       0
Assortment                     3  categorical       0
PromoInterval                  4  categorical       0
CompetitionOpenSinceYear      21      numeric       0
Promo2SinceYear                8      numeric       0
State                         12  categorical       0
Week                          52      numeric       0
Events                        22  categorical       0
Promo_fw                       6      numeric       0
Promo_bw                       6      numeric       0
StateHoliday_bool_fw           3      numeric       0
StateHoliday_bool_bw           3      numeric       0
SchoolHoliday_fw               8      numeric       0
SchoolHoliday_bw               8      numeric       0

In [11]:
# Reemplaza nulls por "" en categoricas
for v in cat_vars: df_train.loc[df_train[v].isnull(), v] = ""

In [12]:
for v in cat_vars: df_test.loc[df_test[v].isnull(), v] = ""

# Continuos Vars

In [13]:
df_train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year',
       ...
       'BeforeStateHoliday_bool', 'AfterPromo', 'BeforePromo', 'index',
       'SchoolHoliday_bw', 'StateHoliday_bool_bw', 'Promo_bw',
       'SchoolHoliday_fw', 'StateHoliday_bool_fw', 'Promo_fw'],
      dtype='object', length=107)

In [14]:
contin_vars = ['CompetitionDistance', 
               'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC', 
               'Precipitationmm', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 
               'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 
               'trend_DE', 'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 
               'Promo', 'SchoolHoliday', 'StateHoliday_bool']

In [15]:
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

In [16]:
# Reemplaza nulls por 0 en continuas
for v in contin_vars: df_train.loc[df_train[v].isnull(), v] = 0
for v in contin_vars: df_test.loc[df_test[v].isnull(), v] = 0

In [17]:
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

# Normalización en continuas y LabelEncode en Categoricas

In [18]:
# pip install sklearn_pandas
from sklearn_pandas import DataFrameMapper

In [19]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [20]:
mapper_cat = DataFrameMapper(cat_maps)
_ = mapper_cat.fit(df_train)

In [21]:
# Assortment es la novena posición en cat_maps
N = 10
print(list(zip(df_train['Assortment'].values[:N], mapper_cat.transform(df_train)[:,9][:N])))
print(list(zip(df_train['Events'].values[:N], mapper_cat.transform(df_train)[:,15][:N])))
print(list(zip(df_train['Year'].values[:N], mapper_cat.transform(df_train)[:,2][:N])))

[('a', 0), ('a', 0), ('a', 0), ('c', 2), ('a', 0), ('a', 0), ('c', 2), ('a', 0), ('c', 2), ('a', 0)]
[('Fog', 0), ('Fog', 0), ('Fog', 0), ('Sunny', 20), ('Sunny', 20), ('Sunny', 20), ('Rain', 10), ('Rain', 10), ('Fog', 0), ('Sunny', 20)]
[(2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2)]

In [22]:
mapper_cont = DataFrameMapper(contin_maps)
_ = mapper_cont.fit(df_train)

In [23]:
N = 10
print(df_train['CompetitionDistance'].values[:N])
print(mapper_cont.transform(df_train)[:, 0][:N])

[ 1270.   570. 14130.   620. 29910.   310. 24000.  7520.  2030.  3160.]
[-0.51104292 -0.59341201  1.00219483 -0.5875285   2.85902934 -0.62400624
  2.16359893  0.22439533 -0.42161363 -0.28864639]

In [24]:
# La hacemos con todas ahora
df_train[cat_vars] = mapper_cat.transform(df_train)
df_test[cat_vars] = mapper_cat.transform(df_test)

In [25]:
df_train[contin_vars] = mapper_cont.transform(df_train)
df_test[contin_vars] = mapper_cont.transform(df_test)

In [26]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,BeforeStateHoliday_bool,AfterPromo,BeforePromo,index,SchoolHoliday_bw,StateHoliday_bool_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_bool_fw,Promo_fw
0,0,4,2015-07-31,5263,555,1,1.273237,0,2.144211,2,...,1.072424,0,0,941,5,0,5,1,0,1
1,1,4,2015-07-31,6064,625,1,1.273237,0,2.144211,2,...,1.072424,0,0,1883,5,0,5,1,0,1
2,2,4,2015-07-31,8314,821,1,1.273237,0,2.144211,2,...,1.072424,0,0,2825,5,0,5,1,0,1
3,3,4,2015-07-31,13995,1498,1,1.273237,0,2.144211,2,...,1.072424,0,0,3767,5,0,5,1,0,1
4,4,4,2015-07-31,4822,559,1,1.273237,0,2.144211,2,...,1.072424,0,0,4709,5,0,5,1,0,1

In [27]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types']]

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_bool_fw,StateHoliday_bool_bw,SchoolHoliday_fw,SchoolHoliday_bw
uniques,1115,7,3,12,31,4,25,26,4,3,...,8,12,52,22,6,6,3,3,8,8
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

# Final processing

In [28]:
df_train.shape

(1017209, 107)

In [29]:
df_sales = df_train[df_train.Sales!=0]

In [30]:
df_sales.shape

(844338, 107)

In [31]:
df_test.reset_index(inplace=True)

In [32]:
df_sales.reset_index(inplace=True)

In [33]:
df_sales.to_feather('train_normalized_data.fth')

In [34]:
df_test.to_feather('test_normalized_data.fth')

In [35]:
(df_test['Open'] == 0).sum()

5984

In [36]:
(df_sales['Open'] == 0).sum()

0

In [37]:
(df_train['CompetitionDistance'].isna()).sum()

0